*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 20px;
    background-color: #9d8189;
    text-align: center;
}
#heading{
    font-size: 6vmin;
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;

}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    background-color: #ffcad4;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5); 
    font-size: 8vmin;
    color: #191913;
}
#reset-btn{
    padding: 10px;
    border-radius: 15px;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    margin-bottom: 50px;
}
#new-btn{
    padding: 10px;
    border-radius: 15px;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    margin-top:50px;
  
}
#msg{
    font-size: 7vmin;
}
.hide{
    display: none;
}
.msg-container{
    margin-top:300px;
    height: 800px; 
    flex-direction: column; 
    font-family: "Playwrite ES", cursive;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
}